.app {
  display: flex;
}

.image-container {
  max-width: 400px; /* Example max width */
  height: 600px;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.image-container canvas {
  position: absolute;
  top: 0;
  left: 0;
}


canvas {
  position: absolute;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 40vw;
  border-radius: 10px; /* Rounded corners */
  border: 2px solid black; /* Black outline */
  cursor: pointer; /* Change cursor to pointer */
}

.uploadContainer:hover {
  background-color: #ccc; /* Change background color to gray */
  color: white; /* Change text color to white */
  cursor: pointer; /* Change cursor to pointer */
}

.navbar {
  font-family: "Open Sans", sans-serif;
  height: 50px;
  background-color: #30394b;
  display: flex;
  align-items: center;
  justify-content: center; 
  color: white;
  font-weight: bold;
  padding: 0px 100px;
  font-size: 20px;
}

h1 {
  font-weight: 300;
  font-family: "Open Sans", sans-serif; 
  color: #30394b;
}

.newPostCard {
  height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.addPost {
  display: flex;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addImg {
  width: 150px;
  cursor: pointer;
}

.postForm {
  display: flex;
  flex-direction: column;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: teal;
  cursor: pointer;
}

.postInput {
  height: 30px;
  border: none;
  margin-bottom: 10px;
}

.container {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;

}

.rightInput {
  padding: 20px;
  margin-bottom: 20px;
}

.rightButton {
  padding: 10px 20px;
  font-weight: bold;
}

.friendInput {
  position: absolute;
  padding: 10px;
  font-weight: bold;
  border: none;
}

.friends {
  font-size: 20px;
  margin-bottom: 20px;
}

.name {
  font-weight: bold;
}
